.env
.venv/
env/
venv/
ENV/

postgres-data/


__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/

.pytest_cache/
.tox/
.nosepy/
nosetests.xml
coverage.xml
.coverage
.coverage.*
.cache
nosetests.json
htmlcov/
.hypothesis/
.skipped/

.DS_Store
Thumbs.db
.vscode/
.idea/